@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%; /* width: 1283px */
  height: 1307px;
}
